<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DerpGL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DerpGL.Properties.Settings>
      <setting name="FontDir" serializeAs="String">
        <value>Data/Fonts/</value>
      </setting>
      <setting name="ShaderDir" serializeAs="String">
        <value>Data/Shaders/</value>
      </setting>
    </DerpGL.Properties.Settings>
  </applicationSettings>
</configuration>